<tr>
  <td
    class="main-block__container"
    style="padding-bottom: 24px; border-bottom: 1px solid #c6c6c6"
  >
    <table
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
    >
      <!-- Text section -->
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 14px">
          <p style="margin: 0">
            Purchase any subscription during Octoweek, October 23-31, and enjoy
            5 extra days of your Octo Browser subscription for free!
          </p>
        </td>
      </tr>
      <tr>
        <td class="main-block__wrap" style="padding-bottom: 24px">
          <p style="margin: 0">
            These bonus days will be added to your subscription on November 1,
            2023.
          </p>
        </td>
      </tr>
      <!-- End Text section -->
      <!-- Button/link section -->
      <tr>
        <td class="btn" style="padding-bottom: 24px">
          <table border="0" cellspacing="0" cellpadding="0" role="presentation">
            <tr>
              <td
                class="btn__wrap __wrap"
                style="
                  background: #1890ff;
                  text-align: center;
                  border-radius: 4px;
                "
              >
                <a
                  href="#"
                  title=""
                  target="_blank"
                  rel="noopener"
                  style="
                    text-align: center;
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 700;
                    color: #ffffff;
                    background: #1890ff;
                    border: 1px solid #1890ff;
                    padding: 14px 18px;
                    text-decoration: none;
                    display: inline-block;
                    border-radius: 4px;
                  "
                >
                  &nbsp;Choose a Subscription&nbsp;
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- End Button/link section -->
      <!-- Text A section -->
      <tr>
        <td class="text-a">
          <a
            href="#"
            title="#"
            target="_blank"
            rel="noopener"
            style="text-decoration: underline"
            >Promotion Details</a
          >
        </td>
      </tr>
      <!-- End Text A section -->
    </table>
  </td>
</tr>
